{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="/static/styles/battle.css" type="text/css"/>
{% endblock %}

{% block body %}

<div class="center">
    <div id="battlefield">

    <!-- Dwarf stat summary -->

        <div id="dwarf">
            <img src="{{ game.hero[dwarf].hero_portrait }}" alt="dwarf"/>
            <br>
            <h2>{{ game.hero[dwarf].hero_name }}</h2>
            <p>HP : {{ game.hero[dwarf].end_total * 10 }}</p>
            <table>
                <tr>
                    <td class="stats-cell">Strength</td>
                    <td class="stats-cell-total">{{ game.hero[dwarf].str_total }}</td>
                </tr>
                <tr>
                    <td class="stats-cell">Intelligence</td>
                    <td class="stats-cell-total">{{ game.hero[dwarf].int_total }}</td>
                </tr>
                <tr>
                    <td class="stats-cell">Agility</td>
                    <td class="stats-cell-total">{{ game.hero[dwarf].agi_total }}</td>
                </tr>
                <tr>
                    <td class="stats-cell">Willpower</td>
                    <td class="stats-cell-total">{{ game.hero[dwarf].will_total }}</td>
                </tr>
                <tr>
                    <td class="stats-cell">Endurance</td>
                    <td class="stats-cell-total">{{ game.hero[dwarf].end_total }}</td>
                </tr>
                <tr>
                    <td class="stats-cell">Charisma</td>
                    <td class="stats-cell-total">{{ game.hero[dwarf].char_total }}</td>
                </tr>
                <tr>
                    <td class="stats-cell">Luck</td>
                    <td class="stats-cell-total">{{ game.hero[dwarf].lck_total }}</td>
                </tr>
                <tr>
                    <td class="stats-cell">Speed</td>
                    <td class="stats-cell-total">{{ game.hero[dwarf].spd_total }}</td>
                </tr>
                <tr>
                    <td colspan="2" class="stats-cell">Armor value</td>
                </tr>
                <tr>
                    <td colspan="2" class="stats-cell-total">{{ game.hero[dwarf].armor }}</td>
                </tr>
            </table>
            <br>
            <table>
                <tr>
                    <td class="stats-cell text-align-left">
                        Critical chance:
                    </td>
                    <td class="stats-cell-total">
                        {% if (game.hero[dwarf].lck_total)|int > 100 %}
                            100%
                        {% else %}
                            {{ (game.hero[dwarf].lck_total)|int }}%
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="stats-cell text-align-left">
                        Charisma effect:
                    </td>
                    <td class="stats-cell-total">
                        {% if (game.hero[dwarf].char_total)|int > 100 %}
                            100%
                        {% else %}
                            {{ (game.hero[dwarf].char_total)|int }}%
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="stats-cell text-align-left">
                        Dodge chance:
                    </td>
                    <td class="stats-cell-total">
                        {% if ((game.hero[dwarf].agi_total / (game.enemy[goblin].str_total * 3)) * 100)|round|int >= 33 %}
                            33%
                        {% else %}
                            {{ ((game.hero[dwarf].agi_total / (game.enemy[goblin].str_total * 3)) * 100)|round|int }}%
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="stats-cell text-align-left">
                        Magic absorption:
                    </td>
                    <td class="stats-cell-total">
                        {% if ((game.hero[dwarf].will_total / (game.enemy[goblin].int_total * 2)) * 100)|round|int >= 50 %}
                            50%
                        {% else %}
                            {{ ((game.hero[dwarf].will_total / (game.enemy[goblin].int_total * 2)) * 100)|round|int }}%
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>

    <!-- Battle log -->

        <div id="battle-log">

        <!-- Display regular battle log -->
        {% if game.hero[dwarf].graveyard != True %}
            <h2>Battleground</h2>
            {% for line in battlelog %}
                <p>{{ line|safe }}</p>
            {% endfor %}

             <!-- Display corresponding buttons at the end of battle -->
            {% if game.hero[dwarf].secret == True %}
                <form method="POST" action="{{ url_for('ending') }}">
                    <input type="submit" name="ending" class="return-back cursed" value="Sacrifice">
                </form>
            {% elif game.hero[dwarf].win == True %}
                <form method="POST" action="{{ url_for('game') }}">
                    <input type="submit" name="back" class="return-back" value="Victory!">
                </form>
            {% else %}
                <form method="POST" action="{{ url_for('game') }}">
                    <input type="submit" name="back" class="return-back" value="Retreat">
                </form>
            {% endif %}

        {% else %}

            <!-- Display graveyard scene -->
            <h2>Graveyard</h2>
            <!-- Display goblin grave -->
            {% if game.hero[dwarf].win == True %}
                <div class="graveyard">
                    You visit the grave of {{ game.enemy[goblin].hero_name }}.
                    <br>It is barren of any flora.
                </div>
                <form method="POST" action="{{ url_for('game') }}">
                    <input type="submit" name="back" class="return-back-small" value="Return">
                </form>

            {% else %}

                <!-- Display dwarf grave -->
                <div class="graveyard">
                    You visit the grave of {{ game.hero[dwarf].hero_name }}.
                    {% if game.hero[dwarf].white_lotus_taken == False %}

                        <!-- White Lotus random chance encounter -->
                        {% if game.hero[dwarf].white_lotus == False %}
                            <br>Something seems to be growing by its side - maybe if you came back later...
                        {% else %}
                            <br>There blooms a peculiar white flower on the grave of your comrade.
                            <form method="POST" action="{{ url_for('battleground') }}">
                                <input type="submit" name="white_lotus {{ dwarf }}" class="return-back-small" value="Take the flower">
                            </form>
                        {% endif %}

                    {% else %}
                        <br>You have already picked up the flower. May his soul rest in peace.
                    {% endif %}
                </div>
                <form method="POST" action="{{ url_for('game') }}">
                    <input type="submit" name="back" class="return-back-small" value="Return">
                </form>
            {% endif %}
        {% endif %}
        </div>

     <!-- Goblin stat summary -->

        <div id="goblin">
            <img src="{{ game.enemy[goblin].hero_portrait }}" alt="goblin"/>
            <br>
            <h2>{{ game.enemy[goblin].hero_name }}</h2>
            <p>HP : {{ game.enemy[goblin].end_total * 10 }}</p>
            <table>
                <tr>
                    <td class="stats-cell">Strength</td>
                    <td class="stats-cell-total">{{ game.enemy[goblin].str_total }}</td>
                </tr>
                <tr>
                    <td class="stats-cell">Intelligence</td>
                    <td class="stats-cell-total">{{ game.enemy[goblin].int_total }}</td>
                </tr>
                <tr>
                    <td class="stats-cell">Agility</td>
                    <td class="stats-cell-total">{{ game.enemy[goblin].agi_total }}</td>
                </tr>
                <tr>
                    <td class="stats-cell">Willpower</td>
                    <td class="stats-cell-total">{{ game.enemy[goblin].will_total }}</td>
                </tr>
                <tr>
                    <td class="stats-cell">Endurance</td>
                    <td class="stats-cell-total">{{ game.enemy[goblin].end_total }}</td>
                </tr>
                <tr>
                    <td class="stats-cell">Charisma</td>
                    <td class="stats-cell-total">{{ game.enemy[goblin].char_total }}</td>
                </tr>
                <tr>
                    <td class="stats-cell">Luck</td>
                    <td class="stats-cell-total">{{ game.enemy[goblin].lck_total }}</td>
                </tr>
                <tr>
                    <td class="stats-cell">Speed</td>
                    <td class="stats-cell-total">{{ game.enemy[goblin].spd_total }}</td>
                </tr>
                <tr>
                    <td colspan="2" class="stats-cell">Armor value</td>
                </tr>
                <tr>
                    <td colspan="2" class="stats-cell-total">{{ game.enemy[goblin].armor }}</td>
                </tr>
            </table>
            <br>
            <table>
                <tr>
                    <td class="stats-cell text-align-left">
                        Critical chance:
                    </td>
                    <td class="stats-cell-total">
                        {% if (game.enemy[goblin].lck_total)|int > 100 %}
                            100%
                        {% else %}
                            {{ (game.enemy[goblin].lck_total)|int }}%
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="stats-cell text-align-left">
                        Charisma effect:
                    </td>
                    <td class="stats-cell-total">
                        {% if (game.enemy[goblin].char_total)|int > 100 %}
                            100%
                        {% else %}
                            {{ (game.enemy[goblin].char_total)|int }}%
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="stats-cell text-align-left">
                        Dodge chance:
                    </td>
                    <td class="stats-cell-total">
                        {% if ((game.enemy[goblin].agi_total / (game.hero[dwarf].str_total * 3)) * 100)|round|int >= 33 %}
                            33%
                        {% else %}
                            {{ ((game.enemy[goblin].agi_total / (game.hero[dwarf].str_total * 3)) * 100)|round|int }}%
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="stats-cell text-align-left">
                        Magic absorption:
                    </td>
                    <td class="stats-cell-total">
                        {% if ((game.enemy[goblin].will_total / (game.hero[dwarf].int_total * 2)) * 100)|round|int >= 50 %}
                            50%
                        {% else %}
                            {{ ((game.enemy[goblin].will_total / (game.hero[dwarf].int_total * 2)) * 100)|round|int }}%
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

{% endblock %}