{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="/static/styles/homepage.css" type="text/css"/>
{% endblock %}

{% block body %}

    <div class="center">
        <div id="main-box-narrow">
            {% if ending_type == 'good ending' %}
                <h2>Good ending</h2>
                <br>
                <p>The goblins tremble at the showcase of Dwarven might.</p>
                <p>Some rattle their teeth in unspeakable anger, some wail in despair, others still have not fully grasped the consequences of what just happened.</p>
                <p>But all of them feel fear.</p>
                <br>
                <p>Your clan has successfully rid the Everlast from goblins as the last of their kind leave in exile in search of a new pit to crawl into.</p>
                <p>For the first time in millennia, peace has settled in the Mountain.</p>
                <p>For now...</p>
            {% elif ending_type == 'normal ending plus' %}
                <h2>Normal ending</h2>
                <br>
                <p>As the results become more and more clear, the goblins gnaw their clubs and cry havoc for betrayal.</p>
                <p>Those soulless beings...! How naive was to believe that they would honor their word!</p>
                <p>The masses clash in one of the bloodiest battles this mountain has seen since the beginning of time.</p>
                <p>Women, children - men and goblins, litter the battlefield.</p>
                <p>The war rages on...</p>
            {% elif ending_type == 'normal ending minus' %}
                <h2>Normal ending</h2>
                <br>
                <p>Seeing your brothers fall one by one to those mindless dogs makes your blood boil in anger and despair.</p>
                <p>"For this we shall not stand... to arms, brothers!"</p>
                <p>As the shout reverberates through the battlefield, every single dwarf rushes to cut those smug goblin faces to pieces.</p>
                <p>The wailing of goblins shakes the walls of the cave as they notice the betrayal.</p>
                <p>The battlefield broods one of the bloodiest battles this mountain has seen since the beginning of time.</p>
                <p>Women, children - men and goblins, litter the battlefield.</p>
                <p>The war rages on...</p>
            {% elif ending_type == 'weak sacrifice' %}
                <h2>What a terrible fate...</h2>
                <br>
                <p>As you dip the amulet into the bloody wounds of your enemy, some goblins scream in terror at the recognition of your artifact.</p>
                <p>The bravest ones rush to stop you but the amulet has already opened its many mouths and eyes, seemingly drinking the blood of the fallen goblin.</p>
                <p>Its eyes grow wider, its mouths stop drinking - and it lets out a piercing shriek.</p>
                <p>As the goblins rise their weapons against you, the ground trembles terribly, shaking the mountain to it's very core.</p>
                <p>Earth roars as it's being split into chasms, swallowing hundreds of goblins and dwarves alike.</p>
                <p>From its fiery depths, a flame reaches the surface.</p>
                <p>Those who survived the great canyons are smoldered alive, as the entire cave becomes a forge capable of molding mithril.</p>
                <p>The Everlast erupts, crumbling its upper third in a blast of power that no living creature of this plane has ever witnessed, neither survived.</p>
                <p>The fires rage on for another one hundred moons before the smoke settles, revealing the new landscape, purified of any life.</p>
                <p>In few thousand years, a new civilisation will bloom among these remains.</p>
                <p>The life finds a way...</p>
                <br>
                <br>
                <p>Tip: Perhaps you should seek a stronger sacrifice..?</p>
            {% elif ending_type == 'eclipse' %}
                <h2>Eclipse</h2>
                <br>
                <p>As you dip the amulet into the bloody wounds of your enemy, some goblins scream in terror at the recognition of your artifact.</p>
                <p>The bravest ones rush to stop you but the amulet has already opened its many mouths and eyes, seemingly drinking the blood of the fallen goblin.</p>
                <p>Its eyes grow wider, its mouths stop drinking - and it lets out a piercing shriek.</p>
                <p>As the goblins rise their weapons against you, the ground trembles terribly, shaking the mountain to it's very core.</p>
                <p>Earth roars as it's being split into chasms, swallowing hundreds of goblins and dwarves alike. From its fiery depths, a shape of terrible tower can be made. It rises and grows bigger, as its floors rush through the air.</p>
                <p>Finally, as the trembling quiets, the tower stands, immobile.</p>
                <p>The goblins can be seen fleeing, cursing in tongues you have never heard.</p>
                <p>But the terrible tower stays unmoved. Untouched.</p>
                <p>Unconquered.</p>
                <p>Will you heed it's calling?</p>
                <br>
                <br>
                <h3>You have unlocked the Endless Tower gamemode!</h3>
                <p>The secret code is...</p>
                <p>8008135</p>
            {% else %}
                <h2>Bad ending</h2>
                <br>
                <p>As each of your mightiest of brothers fall at the hands of these terrible brutes, the ever heavier gloom and despair befalls the Dwarven race.</p>
                <p>The cackle and primitive cries of victory fill all the nooks and crannies of the Everlast mountain.</p>
                <p>As some of your brothers cling to their weapons, the terror shakes their hands, making them lose their grip.</p>
                <p>The Everlast is home to your kind no more.</p>
                <br>
                <p>As your kind is being chased away by the goblins, trying to pack whatever they can, save whatever they are able to, columns of dwarves can be seen expelling from the Everlast's many caverns.</p>
                <p>Family to family, they cling to each other, trying to regroup and reform under the dim light of the dusk.</p>
                <p>As basic camps form and night befalls the region, some groups of dwarves can be seen quietly moving away from the clan, never to be seen again.</p>
                <p>In the morning sun, not two thirds of the Everlast clan can be found.</p>
                <p>Those remaining gather their belongings and as the realisation of the consequences fully materialise, many can be seen sobbing or fall into stupor, barely able to march.</p>
                <p>Tough times are ahead...</p>
            {% endif %}

            <form method="POST" action="{{ url_for('homepage') }}">
                <input type="submit" name="restart" class="return-back" value="The end">
            </form>
        </div>
    </div>

{% endblock %}