{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="/static/styles/homepage.css" type="text/css"/>
{% endblock %}

{% block body %}

    <div class="center">
        <div id="main-box-narrow">
            {% if ending_type == 'good ending' %}
                <h2>Good ending</h2>
                <br>
                <p>You banish the goblins.</p>
            {% elif ending_type == 'normal ending plus' %}
                <h2>Normal ending</h2>
                <br>
                <p>Goblins grow bitter and attack you. The war rages on...</p>
            {% elif ending_type == 'normal ending minus' %}
                <h2>Normal ending</h2>
                <br>
                <p>Dwarves grow bitter and attack the goblins. The war rages on...</p>
            {% elif ending_type == 'eclipse' %}
                <h2>Eclipse</h2>
                <br>
                <p>Earth trembles and splits apart as the reality undoes itself, claiming hundreds of dwarves
                and goblins in its fiery chasms.</p>
                <p>A great pit appears in the middle of the battleground, from which a terrible tower
                grows enormous.</p>
                <p>Will you heed it's calling?</p>
                <br>
                <h3>You have unlocked the Endless Tower gamemode!</h3>
                <p>The secret code is...</p>
                <p>8008135</p>
            {% else %}
                <h2>Bad ending</h2>
                <br>
                <p>All hope is lost. Your clan goes on an exodus, looking for new home and history.</p>
            {% endif %}
        </div>
    </div>

{% endblock %}