{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="/static/styles/game.css" type="text/css"/>
{% endblock %}

{% block body %}
<div id="fixed-counter">Days left: {{ game.days }}</div>
<div class="center">
    <div id="main-box">
    {% for dwarf in game.hero %}
        <div id="{{ dwarf }}" class="hero">
            <div class="character_info">
                <img class="hero_portrait" src="{{ game.hero[dwarf].hero_portrait }}" alt="dwarf1"/>
                <br>
                <h2>{{ game.hero[dwarf].hero_name }}</h2>
                Current tactic: <h2 class="{{ game.hero[dwarf].tactic }}">{{ game.hero[dwarf].tactic }}</h2>
            </div>
            <form class="stats" method="POST" action="{{ url_for('game') }}#{{ dwarf }}">
                <table>
                    <tr>
                        <td></td>
                        <td>Base attributes</td>
                        <td>Multiplier</td>
                        <td>Bonus attributes</td>
                        <td>Total</td>
                        <td><input type="submit" name="train {{ dwarf }}" class="confirm-button" value="Train"></td>
                    </tr>
                    <tr>
                        <th><label for="strength_{{ dwarf }}">Strength</label></th>
                        <td class="stats-cell"><label for="strength">{{ game.hero[dwarf].strength }}</label></td>
                        <td class="stats-cell">x{{ game.hero[dwarf].str_mul }}</td>
                        <td class="stats-cell">+{{ game.hero[dwarf].str_bonus }}</td>
                        <td class="stats-cell-total">{{ game.hero[dwarf].str_total }}</td>
                        <td><input type="number" id="strength_{{ dwarf }}" name="str_increase" class="input-stats" value="0"></td>
                    </tr>
                    <tr>
                        <th><label for="intelligence_{{ dwarf }}">Intelligence</label></th>
                        <td class="stats-cell"><label for="intelligence">{{ game.hero[dwarf].intelligence }}</label></td>
                        <td class="stats-cell">x{{ game.hero[dwarf].int_mul }}</td>
                        <td class="stats-cell">+{{ game.hero[dwarf].int_bonus }}</td>
                        <td class="stats-cell-total">{{ game.hero[dwarf].int_total }}</td>
                        <td><input type="number" id="intelligence_{{ dwarf }}" name="int_increase" class="input-stats" value="0"></td>
                    </tr>
                    <tr>
                        <th><label for="agility_{{ dwarf }}">Agility</label></th>
                        <td class="stats-cell"><label for="agility">{{ game.hero[dwarf].agility }}</label></td>
                        <td class="stats-cell">x{{ game.hero[dwarf].agi_mul }}</td>
                        <td class="stats-cell">+{{ game.hero[dwarf].agi_bonus }}</td>
                        <td class="stats-cell-total">{{ game.hero[dwarf].agi_total }}</td>
                        <td><input type="number" id="agility_{{ dwarf }}" name="agi_increase" class="input-stats" value="0"></td>
                    </tr>
                    <tr>
                        <th><label for="willpower_{{ dwarf }}">Willpower</label></th>
                        <td class="stats-cell"><label for="willpower">{{ game.hero[dwarf].willpower }}</label></td>
                        <td class="stats-cell">x{{ game.hero[dwarf].will_mul }}</td>
                        <td class="stats-cell">+{{ game.hero[dwarf].will_bonus }}</td>
                        <td class="stats-cell-total">{{ game.hero[dwarf].will_total }}</td>
                        <td><input type="number" id="willpower_{{ dwarf }}" name="will_increase" class="input-stats" value="0"></td>
                    </tr>
                    <tr>
                        <th><label for="endurance_{{ dwarf }}">Endurance</label></th>
                        <td class="stats-cell"><label for="endurance">{{ game.hero[dwarf].endurance }}</label></td>
                        <td class="stats-cell">x{{ game.hero[dwarf].end_mul }}</td>
                        <td class="stats-cell">+{{ game.hero[dwarf].end_bonus }}</td>
                        <td class="stats-cell-total">{{ game.hero[dwarf].end_total }}</td>
                        <td><input type="number" id="endurance_{{ dwarf }}" name="end_increase" class="input-stats" value="0"></td>
                    </tr>
                    <tr>
                        <th><label for="charisma_{{ dwarf }}">Charisma</label></th>
                        <td class="stats-cell"><label for="charisma">{{ game.hero[dwarf].charisma }}</label></td>
                        <td class="stats-cell">x{{ game.hero[dwarf].char_mul }}</td>
                        <td class="stats-cell">+{{ game.hero[dwarf].char_bonus }}</td>
                        <td class="stats-cell-total">{{ game.hero[dwarf].char_total }}</td>
                        <td><input type="number" id="charisma_{{ dwarf }}" name="char_increase" class="input-stats" value="0"></td>
                    </tr>
                    <tr>
                        <th><label for="luck_{{ dwarf }}">Luck</label></th>
                        <td class="stats-cell"><label for="luck">{{ game.hero[dwarf].luck }}</label></td>
                        <td class="stats-cell">x{{ game.hero[dwarf].lck_mul }}</td>
                        <td class="stats-cell">+{{ game.hero[dwarf].lck_bonus }}</td>
                        <td class="stats-cell-total">{{ game.hero[dwarf].lck_total }}</td>
                        <td><input type="number" id="luck_{{ dwarf }}" name="lck_increase" class="input-stats" value="0"></td>
                    </tr>
                    <tr>
                        <th><label for="speed_{{ dwarf }}">Speed</label></th>
                        <td class="stats-cell"><label for="speed">{{ game.hero[dwarf].speed }}</label></td>
                        <td class="stats-cell">x{{ game.hero[dwarf].spd_mul }}</td>
                        <td class="stats-cell">+{{ game.hero[dwarf].spd_bonus }}</td>
                        <td class="stats-cell-total">{{ game.hero[dwarf].spd_total }}</td>
                        <td><input type="number" id="speed_{{ dwarf }}" name="spd_increase" class="input-stats" value="0"></td>
                    </tr>
                </table>
                </form>
                <form class="equipment" method="POST" action="{{ url_for('game') }}#{{ dwarf }}"><table>
                <tr>
                    <td><h3>Equipment</h3></td>
                    <td><input type="submit" name="equipment {{ dwarf }}" class="confirm-button" value="Unequip"></td>
                    <td><input type="submit" name="equipment {{ dwarf }}" class="confirm-button" value="Equip"></td>
                </tr>
                <tr>
                    <td class="equipment-cell">Weapon</td>
                    <td class="equipment-cell-current {{ game.hero[dwarf].equipment['weapon'].rarity }}">{{ game.hero[dwarf].equipment['weapon'].item_name }}</td>
                    <td>
                        <select name="weapon">
                        <option> </option>
                            {% for item in game.backpack %}
                                {% if item.item_slot == 'weapon' %}
                                <option class="option_{{ item.rarity }}" name="{{ item.item_name }}">{{ item.item_name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="equipment-cell">Headpiece</td>
                    <td class="equipment-cell-current {{ game.hero[dwarf].equipment['headpiece'].rarity }}">{{ game.hero[dwarf].equipment['headpiece'].item_name }}</td>
                    <td>
                        <select name="headpiece">
                        <option> </option>
                            {% for item in game.backpack %}
                                {% if item.item_slot == 'headpiece' %}
                                <option class="option_{{ item.rarity }}" name="{{ item.item_name }}">{{ item.item_name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="equipment-cell">Shoulders</td>
                    <td class="equipment-cell-current {{ game.hero[dwarf].equipment['shoulders'].rarity }}">{{ game.hero[dwarf].equipment['shoulders'].item_name }}</td>
                    <td>
                        <select name="shoulders">
                        <option> </option>
                            {% for item in game.backpack %}
                                {% if item.item_slot == 'shoulders' %}
                                <option class="option_{{ item.rarity }}" name="{{ item.item_name }}">{{ item.item_name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="equipment-cell">Chest</td>
                    <td class="equipment-cell-current {{ game.hero[dwarf].equipment['chest'].rarity }}">{{ game.hero[dwarf].equipment['chest'].item_name }}</td>
                    <td>
                        <select name="chest">
                        <option> </option>
                            {% for item in game.backpack %}
                                {% if item.item_slot == 'chest' %}
                                <option class="option_{{ item.rarity }}" name="{{ item.item_name }}">{{ item.item_name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="equipment-cell">Pants</td>
                    <td class="equipment-cell-current {{ game.hero[dwarf].equipment['pants'].rarity }}">{{ game.hero[dwarf].equipment['pants'].item_name }}</td>
                    <td>
                        <select name="pants">
                        <option> </option>
                            {% for item in game.backpack %}
                                {% if item.item_slot == 'pants' %}
                                <option class="option_{{ item.rarity }}" name="{{ item.item_name }}">{{ item.item_name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="equipment-cell">Gloves</td>
                    <td class="equipment-cell-current {{ game.hero[dwarf].equipment['gloves'].rarity }}">{{ game.hero[dwarf].equipment['gloves'].item_name }}</td>
                    <td>
                        <select name="gloves">
                        <option> </option>
                            {% for item in game.backpack %}
                                {% if item.item_slot == 'gloves' %}
                                <option class="option_{{ item.rarity }}" name="{{ item.item_name }}">{{ item.item_name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="equipment-cell">Boots</td>
                    <td class="equipment-cell-current {{ game.hero[dwarf].equipment['boots'].rarity }}">{{ game.hero[dwarf].equipment['boots'].item_name }}</td>
                    <td>
                        <select name="boots">
                        <option> </option>
                            {% for item in game.backpack %}
                                {% if item.item_slot == 'boots' %}
                                <option class="option_{{ item.rarity }}" name="{{ item.item_name }}">{{ item.item_name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="equipment-cell">Artefact</td>
                    <td class="equipment-cell-current {{ game.hero[dwarf].equipment['artefact'].rarity }}">{{ game.hero[dwarf].equipment['artefact'].item_name }}</td>
                    <td>
                        <select name="artefact">
                            <option> </option>
                            {% for item in game.backpack %}
                                {% if item.item_slot == 'artefact' %}
                                <option class="option_{{ item.rarity }}" name="{{ item.item_name }}">{{ item.item_name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                </tr>
            </table></form>
            <form class="tactics" method="POST" action="{{ url_for('game') }}#{{ dwarf }}"><table>
                <tr>
                    <td><h3>Tactics</h3></td>
                    <td class="tactic-cell"><input type="radio" id="frenzy_{{ dwarf }}" name="tactic" value="Frenzy"><label for="frenzy_{{ dwarf }}">Frenzy</label></td>
                    <td class="tactic-cell"><input type="radio" id="focus_{{ dwarf }}" name="tactic" value="Focus"><label for="focus_{{ dwarf }}">Focus</label></td>
                    <td class="tactic-cell"><input type="radio" id="balanced_{{ dwarf }}" name="tactic" value="Balanced"><label for="balanced_{{ dwarf }}">Balanced</label></td>
                    <td class="tactic-cell"><input type="radio" id="overconfidence_{{ dwarf }}" name="tactic" value="Overconfidence"><label for="overconfidence_{{ dwarf }}">Overconfidence</label></td>
                    <td><input type="submit" name="tactics {{ dwarf }}" class="confirm-button" value="Confirm"></td>
                </tr>
            </table></form>
        </div>

        <div class="divider"></div>

    {% endfor %}

    </div>
</div>
    <form id="fixed-adventure" method="POST" action="{{ url_for('game') }}">
        <div class="adventure-loot-chances">
            <h3>Cost: 14 days</h3>
            <input type="submit" id="venture" name="adventure" class="adventure-button" value="Short venture">
            <p>45% - 6x Common</p>
            <p>30% - 4x Common, 2x Rare</p>
            <p>15% - 5x Rare</p>
            <p>10% - 2x Epic + 2x Rare</p>
        </div>
        <div class="adventure-loot-chances">
            <h3>Cost: 31 days</h3>
            <input type="submit" id="adventure" name="adventure" class="adventure-button" value="Risky adventure">
            <p>45% - 6x Rare</p>
            <p>30% - 4x Rare, 2x Epic</p>
            <p>15% - 5x Epic</p>
            <p>10% - 1x Legendary</p>
        </div>
        <div class="adventure-loot-chances">
            <h3>Cost: 90 days</h3>
            <input type="submit" id="expedition" name="adventure" class="adventure-button" value="Legendary expedition">
            <p>45% - 5x Epic</p>
            <p>30% - 7x Epic</p>
            <p>15% - 1x Legendary</p>
            <p>10% - 2x Legendary</p>
        </div>
    </form>
{% endblock %}