* {
    box-sizing: border-box;
    font-family: 'AvaraBold', serif;
    font-weight: normal;
    font-style: normal;
    color: #e8e2e1;

    text-shadow: 2px 2px 5px black;
}

body {
    margin: 0;
    background-color: #502525;
}

@font-face {
    font-family: "AvaraBold";
    src: url("/static/fonts/avara-webfont.woff") format("woff")
}

.center {
    display: flex;
    justify-content: center;

    text-align: center;
}

#main-box {
    padding: 10vh 5vw 10vh 5vw;
    overflow: auto;

    background-color: #3b1b19;
    height: 100%;
    width: 75vw;
}

/* Word coloring */

.Frenzy {
    color: #fa0f0f;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.Focus {
    color: #38acef;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.Balanced {
    color: #49da0f;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.Overconfidence {
    color: #fffb1a;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.common {
    color: #32d207;
    font-weight: bold;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.rare {
    color: #1ca5ff;
    font-weight: bold;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.epic {
    color: #b800ff;
    font-weight: bold;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.legendary {
    color: #ff8000;
    font-weight: bold;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.cursed {
    color: #ff0000;
    text-shadow: -3px 3px black, 3px 3px black, 3px 3px black, 3px -3px black;
}

.option_common {
    color: #32d207;
    font-weight: bold;
}

.option_rare {
    color: #1ca5ff;
    font-weight: bold;
}

.option_epic {
    color: #b800ff;
    font-weight: bold;
}

.option_legendary {
    color: #ff8000;
    font-weight: bold;
}

.option_cursed {
    color: #ff0000;
    font-weight: bold;
}

.yellow {
    color: yellow;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.purple {
    color: #ac59ff;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.deep_purple {
    color: #9c43f8;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.blue {
    color: deepskyblue;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.deep_blue {
    color: #3374d9;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.orange {
    color: orange;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.red {
    color: orangered;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.green {
    color: limegreen;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.gray {
    color: #a6a6a6;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.pink {
    color: #ff24ee;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.white {
    color: #ffffff;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}